{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/param.css' %}">
	{{ description | json_script}}
	<script src="{% static 'script/configurateur.js' %}" defer></script>
	{{ finitions | json_script}}

	<title>Home</title>
</head>
{% if user.is_superuser %}
<body>
	<div class="wrapper">
		<header>
			<div class="logo" id="logo">
				<img src="{% static 'assets/logo.png' %}">
			</div>
			<nav>
				<div id="menu">
					<ul>
						<li>
							<a href="{% url 'home' %}">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
									<path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
									<path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
								</svg>

							</a>
						</li>
						<li>
							<a href="{% url 'contact' %}">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
									<path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
									<path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
								</svg>

							</a>
						</li>
						<li>
							<a href="{% url 'configurateur' %}">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
									<path d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" />
								</svg>

							</a>
						</li>
						<li>
							<a href="{% url 'account' %}">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-6 h-6">
									<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
								</svg>

							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		{% if formErrors %}
    <div class="errors">
        <ul>
            {% for element in formErrors %}
                <li>incorrect fields: {{element}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
		<section class="object" id='object'>
			<h4>liste des objets existants</h4>
			<select name="listElem" id="listElem" required>
				<!-- génère une valeur vide dans la premiere case -->
				<option value="" description=""id ="" ></option>
			
				{% for element in items %}
				<option value="{{ element.name }}" description="{{element.description}}"id = {{element.id}}>{{ element.name }}</option>
				{% endfor %}
		
			</select>
			<h5 id='elemDescription'></h5>
		</section>
<hr/>
		<section class='charac' id='charac'>

			<h4>liste des charactéristiques existantes</h4>

			<!-- génère la liste des objets -->
			<select name="listElem" id="listCharac0" required>
				<!-- génère une valeur vide dans la premiere case -->
				<option value="" description=""id ="" ></option>
				{% for element in items %}
				<option value="{{ element.name }}" description="{{element.description}}" id="{{ element.id }}">{{ element.name }}</option>
				{% endfor %}

			</select>
			<!-- génère les liste déroulante pour chaque niveau de description -->
			{% for array in description %}

			<select name="listCharac" id="listCharac{{forloop.counter}}" style="visibility:hidden" required>
				{% for element in array %}
				<option value="{{ element.name }}" description="{{element.description}}" id="{{ element.id }}" parent_description="{{element.parent_description}}" parent_item="{{element.parent_item}}">{{ element.name }}</option>
				{% endfor %}

			</select>
			{% endfor %}
			<h5 id='characDescription'> </h5>
			
			<!-- pour display dynamiquement les informations => devis.js => displayNextList -->
		
		</section>
<hr/>

		<section class="finition" id='finitions'>
			<h4>liste des finitions existantes</h4>
			
				<select name="listElem" id="listFinit" required>
					<!-- génère une valeur vide dans la premiere case -->
				<option value="" description=""id ="" ></option>
				{% for element in items %}
				<option value="{{ element.name }}" description="{{element.description}}" id="{{ element.id }}">{{ element.name }}</option>
				{% endfor %}
			</select>
			<select name="listFinit" id="listFinit1" required>
				<!-- génère une valeur vide dans la premiere case -->
				<option value="" description=""id ="" ></option>
				{% for element in finitions %}

					<option value="{{ element.name }}" description="{{element.description}}" id="{{ element.id }}" parent_description="{{element.parent_description}}" parent_item="{{element.parent_item}}">{{ element.name }}</option>
				}
				}
				{% endfor %}

			</select>
			<h5 id='finitionDescription'></h5>
		

		
					<form method="post" id="deleteFinition" >
				{% csrf_token %}
				{{descriptionSuppressionForm}}
				<input type="hidden" name="formulaire_id" value="deleteDescription">
				<input type="submit" value="Supprimer" id='submitFinitSuppression'>
			</form>
			<h5>Ajouter une finition</h5>
				
				<form method="post" >
			
				{% csrf_token %}
				{{descriptionCreationForm}}
				<input type="submit" value="Enregistrer" id='submitFinit'>
				</form>

				
			
		</section>

	</body>
	<footer>
	</footer>
</div>	
{% else %}
<script>
	window.location.href = "{% url 'home' %}";
</script>
{% endif %}
</html>
