
.errors {
    background-color: #ff6b6b;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.object,
.charac,
.finition {
    background-color: #fff;

    padding: 0px;
    margin: 0px 20px 0;
}

select,
input,
button {
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: grey;
}

h4,
h5 {
    margin-bottom: 5px;
    color: #333;
    margin-top: 5px;
}

form{
    display: flex;
  flex-direction: column;
}

hr{
    width:90%;
}